# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets (important)
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# VS Code
.vscode/